stylebody {
  display: contents;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px;

}

.nav-item {
  text-decoration: none;
  color: black;
  margin: 0 3px;
}

.nav-item:hover {
  text-decoration: underline;
}

img {
  width: 272px;
  /* height: 92px; */
}

.main {
  text-align: center;
  margin-top: 15px;
}

.input-area {
  margin-top: 20px;

}

.input-box {
  width: 584px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  padding-left: 40px;
}

.search-icon {
  position: relative;
  left: 80px;
  padding-right: 40px;
  color: #9aa0a6;

}

.mic-icon {
  position: relative;
  right: 40px;
  color: #9aa0a6;
}



.buttonn-area {
  padding-top: 18px;
}

.button-style {
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  padding: 0 16px;

}

.button-style:hover {
  box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.footer {
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
  width: 100%;
}

.first-line {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.second-line {
  padding: 15px 30px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}

.secon-line-second {
  float: right;
  margin: 0 30px;
}

.footer-item {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}

.footer-item:hover {
  text-decoration: underline;
}