.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.btn-outline-success {
  color: chocolate;
  border-color: chocolate;
}

.btn-outline-success:hover {
  background-color: chocolate;
  color: white;
  border-color: chocolate;
}

footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}