.col {
  /* border: 1px solid red; */
  padding: 20px;
}

.btn.btn-outline-success {
  color: chocolate;
  border-color: chocolate;
}

.btn.btn-outline-success:hover {
  background-color: chocolate;
  color: white;
  border-color: chocolate;
}